<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>particeApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39726DC41EB19DFF008E5B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39726DDD1EB19DFF008E5B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39726DE81EB19DFF008E5B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
